
/* Global styles
------------------------*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  } 

body {
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Albert Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

img {
    width: 400px;
    border-radius: 10px;
    position: relative;
    z-index: 300;
    border-style: double;
    border-color: white; 

}

a {
    color: #fcf6bd;
}

a:visited {
    color:#ffd6ff;
}

.projects a:hover {
    text-decoration: none;
    color: rgb(10, 239, 29)


}
h2{
    margin: 0;
    font-size: 30px;
}
h1, h2 {
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 400px;
  }

h1 {
    font-size: 50px;
}
.content-wrap {
   width: 800px;
   margin: 0 auto;
   padding: 60px 0;
}


/* Profile
------------------------*/
header { 
    background:#2C0735;
    text-align: center;

}


/* Projects
------------------------*/
.projects {
    background: #3C0F6B;
}

.projects .btn {
    background: #94d2bd;
    color: #256347;
    text-decoration: none;
    padding: 12px;
    border-radius: 10px;
    display: inline-block;
}

.projects .btn:hover {
    background-color: rgba(148, 210, 189, 70%);
}
.project-item {
    overflow: hidden;
    border-bottom:#ffffff 1px groove;
    padding: 30px
}

.project-item img {
    float: left;
    margin-right: 20px;
 }


.project-item h3 {
    margin-top: 0;
}


/* Work Experience
------------------------*/
.work-experience {
    background: #5536AB;

}
.color-block1 {
    position: relative;
    margin-top: -300px;
    bottom: -310px;
    right: 10px;
    width: 400px;
    height: 300px;
    background-color:rgba(148, 210, 189, 70%);
    border-radius: 10px;
    z-index: 0;
}
.job-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 30px;
    border-bottom: 1px groove #ffffff;
   
}

.job-summary {
    margin-top: 24px;
}

/* Education
------------------------*/
.education {
    background: #3D5BB8;
    border-bottom: 2px groove #ffffff;

}


/* Contact Info
------------------------*/
.contact-info {
    background: #097FBA;
    text-align: center;
}
.contact-info a:hover {
    text-decoration: none;
    color: rgba(10, 239, 29, 0.766)
}
.contact-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
}

.contact-list a {
    padding: 10px;
    display: inline-block;
}