
/* Global styles
------------------------*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  } 

#grad {
  height: max-content;  
  background-color: black;
  background-image: linear-gradient(#7209B7, #560BAD, #480CA8, #3A0CA3, #3F37C9, #4361EE, #4895EF, #3DB5DA);
}

body {
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Albert Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.project-item img {
    border-radius: 10px;
    position: relative;
    z-index: 300;
    border-style: double;
    border-color: white; 

}

a {
    color: #fcf6bd;
}

a:visited {
    color:#ffd6ff;
}

.projects a:hover {
    text-decoration: none;
    color: rgb(19, 234, 36)


}
h2{
    margin: 0;
    font-size: 30px;
    text-shadow: 1px 2px 1px rgba(251, 36, 176, 80%);

}
h1, h2 {
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 400px;
    
  }

h1 {
    font-size: 50px;
    text-shadow: 1.5px 1px 1px rgba(19, 236, 240, 80%);

}
.content-wrap {
   max-width: 800px;
   width: 85%;
   margin: 0 auto;
   padding: 60px 0;
}

h3 {
    margin-bottom: 0;
    text-shadow: 1.5px 1.5px 1px rgba(251, 36, 176, 80%);

}

.item-details h3 + p {
    font-style: italic;

} 
.item-details h3 ~ p {
    margin: 0;
}
.divider > section {
    border-bottom:#ffffff 1px groove;
    padding-top: 30px;
    padding-bottom: 30px;
}

.divider > section:last-of-type {
    border-bottom: none;
    padding-bottom: 15px;
} 

/* Profile
------------------------*/
header { 
    border-bottom: 1px groove #ffffff;
    background-image: url(../images/codioful-formerly-gradienta-m_7p45JfXQo-unsplash.jpg);
    background-size: cover;
    background-position: center;
}
        

/* Projects
------------------------*/
.projects {
    border-bottom: 1px groove #ffffff;
}

.projects .btn {
    background: #13ecf0;
    color: #256347;
    text-decoration: none;
    padding: 12px;
    border-radius: 10px;
    display: inline-block;
}

.projects .btn:hover {
    background-color: rgba(148, 210, 189, 50%);
}
.project-item {
    overflow: hidden;
    padding-left: 30px;
    padding-right: 30px;
}

.project-item h3 {
    margin-top: 0;
}


/* Work Experience
------------------------*/

.work-experience h3 {
    margin-top: 0px;
}

.work-experience {
    border-bottom: 1px groove #ffffff;

}
.color-block1 {
    position: relative;
    margin-top: -300px;
    bottom: -310px;
    right: 10px;
    width: 400px;
    height: 300px;
    background-color:rgba(251, 36, 176, 80%);
    border-radius: 10px;
    z-index: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.job-summary {
    margin-top: 3px;
}


/* Education
------------------------*/
.education {
    border-bottom: 1px groove #ffffff;
    }


/* Contact Info
------------------------*/

.contact-info a:hover {
    text-decoration: none;
    color: rgba(10, 239, 29, 0.766)
}
.contact-list {
    list-style-type: none;
    padding: 0;
    justify-content: space-evenly; 
    flex-wrap: wrap;
}

.contact-list a {
    display: inline-block;
}

/* Responsive styles
----------------------- */
@media screen and (min-width: 935px) {
    .project-item img {
        float: left;
        margin-right: 20px; 
        }

    .color-block1 {
        position: relative;
        margin-top: -295px;
        right: 10px;
        width: 400px;
        height: 300px;
        background-color: rgba(251, 36, 176, 80%);
        border-radius: 10px;
    }    
    .job-item {
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: 30px;      
    }

    footer, header {
        text-align: center;
    }

    .contact-list {
        display: flex;
    }
}

@media only screen and (min-width: 546px) and (max-width: 934px) {
    .color-block1 {
        position: relative;
        margin-top: -300px;
        right: 10px;
        width: 400px;
        height: 300px;
        background-color: rgba(251, 36, 176, 80%);
        border-radius: 10px;
        z-index: 0;
        padding-left: 30px;
        padding-right: 30px;
        bottom: 0px;
    }
 
    .projects h3 {
        margin-top: 20px;
    }
      
}

@media screen and (max-width: 680px) {
    h1{
        font-size: 40px;
    }

    @media screen and (max-width: 545px) {
    
    img {
        width: 250px;
        height: 200px;
        border-radius: 10px;
        position: relative;
        z-index: 300;
        border-style: double;
        border-color: white;
    }

    .color-block1 {
        position: relative;
        margin-top: -200px;
        right: 10px;
        width: 250px;
        height: 200px;
        background-color: rgba(251, 36, 176, 80%);
        border-radius: 10px;
        z-index: 0;
        padding-left: 30px;
        padding-right: 30px;
        bottom: 0px;
    }
    }
 